@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a gradient background and font-family */
body {
    background-color: #100f17;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}
.box {
	font-size: 3vw;
	margin: max(3rem, 3vw);
	border: 0.35rem solid;
	padding: 2vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

/* Style the header */
h1 {
    font-size: 36px;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style the user's speech */
p {
    font-size: 24px;
    margin: 20px 0;
}

/* Style the "Start Listening" button */
button {
    padding: 15px 30px;
    font-size: 18px;
	font-family: 'Raleway', sans-serif;
    background-color: #854f6c; /* New button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #522b5b; /* New button background color on hover */
}

 /* Media Query for Small Screens (Mobile) */
 @media (max-width: 480px) {
	h1 {
		font-size: 40px;
	}

	button {
		font-size: 20px;
		padding: 15px 16px;
	}

	p {
		font-size: 20px;
	}
}
/* Media Query for Larger Mobile Screens (e.g., 6.7 inches) */
@media (min-width: 481px) and (max-width: 767px) {
	h1 {
		font-size: 26px;
	}

	button {
		font-size: 22px;
		padding: 14px 28px;
	}

	p {
		font-size: 22px;
	}
}